[submodule "sources/FFmpeg"]
	path = sources/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "sources/nasm"]
	path = sources/nasm
	url = https://github.com/netwide-assembler/nasm.git
[submodule "sources/x264"]
	path = sources/x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "sources/x265"]
	path = sources/x265
	url = https://bitbucket.org/multicoreware/x265_git.git
